
body,html{
    height:100%; /*Siempre es necesario cuando trabajamos con alturas*/
;
    }


#inferior{
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:50px; /*alto del div*/
    z-index:0;
     }

     .ghostwhite{
         background-color: ghostwhite;
     }
     .btn-carrito{
         background-color: #e8d598;
     }

     .centrar{
         text-align: center;
     }
